env
.env
!.envcontoh
.envbackuplinux
__pycache__
*.csv
*.xlsx
app2app
app2
TA
crawling
FlaskLogin
app_new
coba_condusion.py
coba*
loading.py
model.py
naive_bayes_new.py
naive_bayes2.py
pekerja*
rule*
test.py
TFIDF.py
!normalisasi.xlsx
!assets/*
assets/Dataset_520.xlsx
!normalisasi.xlsx
*.tar.
test4.py
crawl_pilih.txt
genplot2.py
preprocesing_text_backup.py
test2.py
tf_idf_backup.py
app2.py
