<!-- Navigation -->
{% extends "base.html" %}
<!-- Page Content -->
{% block title %}About{% endblock %}
{% block content %}
<div class="container">
  <h3 class="card card-body text-center mt-5" style="margin-bottom: 10px;">ANALISIS SENTIMEN PENGGUNA LAYANAN PROVIDER SELULER DI MASA PANDEMI PADA MEDIA SOSIAL TWITTER MENGGUNAKAN METODE NAÏVE BAYES</h3>
  <div class="card card-body">
    <p>Program ini dibuat dengan menggunakan Web Framework Flask, Numpy, Pandas, NLTK.tokenizer, Sastrawi.Stemmer</p>
    <h5>Credit: </h5>
    <ul>
      <li>Nama: Raymondus Dewangga RA (5170411187)</li>
      <li>Github: <a href="https://github.com/rusagaib">@rusagaib</a></li>
      <li>IG: @raymondusaji</li>
    </ul>
  </div>
</div>
<!-- /.container -->
{% endblock %}
